
*{font-family: arial;}


body {
  background-color: #339989;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
	text-align: center;
	color: aliceblue;
	font-weight: bold;
	font-size: 1.75em;
	margin: 50px 15px;

}

div {
	position: relative;
	margin: auto;

}

p {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #CDF0DB;
	overflow: auto;
	height: 145px;
	padding: 60px 15px 5px;
	font-size: 15px;
	margin: 0px 15px 30px;


}

.div1 {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #FFA07A;
	overflow: auto;
	font-size: 1.25em;
	color: #339989;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	height: 40px;
	width: 180px;
	position: absolute;
	top: 0px;
	right: 15px;

}

.div2 {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #EEE4E1;
	overflow: auto;
	font-size: 1.25em;
	color: #339989;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	height: 40px;
	width: 180px;
	position: absolute;
	top: 0px;
	right: 15px;

}

.div3 {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #FBCEB1;
	overflow: auto;
	font-size: 1.25em;
	color: #339989;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	height: 40px;
	width: 180px;
	position: absolute;
	top: 0px;
	right: 15px;

}






